src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService.sid.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService.sid.org/" name="StudentWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webService.sid.org/" schemaLocation="http://localhost:9090/?xsd=1"/>
</xsd:schema>
</types>
<message name="getName">
<part name="parameters" element="tns:getName"/>
</message>
<message name="getNameResponse">
<part name="parameters" element="tns:getNameResponse"/>
</message>
<message name="IncrementAge">
<part name="parameters" element="tns:IncrementAge"/>
</message>
<message name="IncrementAgeResponse">
<part name="parameters" element="tns:IncrementAgeResponse"/>
</message>
<message name="ListStudents">
<part name="parameters" element="tns:ListStudents"/>
</message>
<message name="ListStudentsResponse">
<part name="parameters" element="tns:ListStudentsResponse"/>
</message>
<message name="getStudent">
<part name="parameters" element="tns:getStudent"/>
</message>
<message name="getStudentResponse">
<part name="parameters" element="tns:getStudentResponse"/>
</message>
<portType name="StudentWebService">
<operation name="getName">
<input wsam:Action="http://webService.sid.org/StudentWebService/getNameRequest" message="tns:getName"/>
<output wsam:Action="http://webService.sid.org/StudentWebService/getNameResponse" message="tns:getNameResponse"/>
</operation>
<operation name="IncrementAge">
<input wsam:Action="http://webService.sid.org/StudentWebService/IncrementAgeRequest" message="tns:IncrementAge"/>
<output wsam:Action="http://webService.sid.org/StudentWebService/IncrementAgeResponse" message="tns:IncrementAgeResponse"/>
</operation>
<operation name="ListStudents">
<input wsam:Action="http://webService.sid.org/StudentWebService/ListStudentsRequest" message="tns:ListStudents"/>
<output wsam:Action="http://webService.sid.org/StudentWebService/ListStudentsResponse" message="tns:ListStudentsResponse"/>
</operation>
<operation name="getStudent">
<input wsam:Action="http://webService.sid.org/StudentWebService/getStudentRequest" message="tns:getStudent"/>
<output wsam:Action="http://webService.sid.org/StudentWebService/getStudentResponse" message="tns:getStudentResponse"/>
</operation>
</portType>
<binding name="StudentWebServicePortBinding" type="tns:StudentWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IncrementAge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentWebService">
<port name="StudentWebServicePort" binding="tns:StudentWebServicePortBinding">
<soap:address location="http://localhost:9090/"/>
</port>
</service>
</definitions>